.container {
    margin-top: 30px;
    width: 1000px;
}

.alert {
    max-width: 300px;
    align-self: center;
}

.sceleton {
    max-width: 500px;
    align-self: center;
}

.carousel {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.tableText {
    font-weight: bold;
}

.screenshot {
    width: 100%;
    height: 100%;
}

.tables {
    margin-top: 20px;
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.empty {
    margin-top: 20px;
}

@media (max-width: 992px) {
    .carousel {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .carousel {
        width: 500px;
    }
}

@media (max-width: 576px) {
    .carousel {
        width: 300px;
    }
}

@media (max-width: 285px) {
    .carousel {
        width: 230px;
    }
}