.header {
    background-color: #22075e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
}

.banner {
    padding: 40px 0;
    text-align: center;
}

.sider {
    text-align: center;
    line-height: 120px;
    color: #fff;
    background-color: #3ba0e9;
}