.header {
    background-color: #22075e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;
}

.footer {
    text-align: center;
}

.banner {
    padding: 40px 0;
    text-align: center;
}
