.header {
    background-color: #22075e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footer {
    text-align: center;
    margin-top: auto;
}

.sider {
    text-align: center;
    line-height: 120px;
    color: #fff;
    background-color: #3ba0e9;
}

.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}