.container {
    max-width: 1000px;
}

.sort {
    display: flex;
    justify-content: space-between;
}

.sort :first-child {
    margin-right: 5px;
}

.sortType {
    width: 100%;
}

.platform {
    width: 100%;
}

.reset {
    width: 100%;
}

@media (max-width: 768px) {
    .sort {
        justify-content: flex-start;
    }
}