.paginationContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.alert {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.empty {
    margin-top: 20%;
}